/* Responsive styles for .offer-3 */

@media (max-width: 1205px) {
  .offers a {
    font-size: 1rem;
  }

  .offer-info p:nth-child(1) {
    font-size: 1.5rem;
  }

  .offer-2 a button {
    font-size: 0.9rem;
  }
}

@media (max-width: 1024px) {
  .home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, -50%);
  }
}

@media (max-width: 890px) {
   .offer-2 a{
      padding: 35px;
   }

   .offer-2 a  p:nth-child(1) {
      margin-bottom: -3px !important;
    }


 .offer-2 a img{
   
   height: 100% !important;
   width: 100% !important;
 }
}

@media (max-width: 820px) {
  .home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
  }
}


@media (max-width: 766px) {
   .offer-2 a{
      padding: 0px;
   }

   .offer-2 a  p:nth-child(1) {
      margin-bottom: 5px;
    }



}

@media (max-width: 500px) {
  .home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .home-text h2 {
    font-size: 3rem;
    color: white;
  }
  .home-text h5 {
    font-size: 1.2rem;
    color: white;
  }

  .home-banner-1 {
    background-position: 66% 50%;
  }
  .home-banner-1 {
    background-position: 74% 50%;
    color: black;
  }
}
